
MusicVisualization/Library/

MusicVisualization/Logs/

MusicVisualization/UserSettings/

MusicVisualization/Assembly-CSharp-Editor.csproj

MusicVisualization/Assembly-CSharp.csproj

MusicVisualization/MusicVisualization.sln
